#main{
    height: 80vh;
}

.container-flow{
    #carouselExampleControls{
        .carousel-inner{
            margin-top: 5px;
            margin-bottom: 5px;
            height: 270px;
            .carousel-item{
                .d-block{height: 270px;}
            }
        }
    }
    .row{
        .section{
            .texto{
                font-size: 20px !important;
                color: map-get($paleta-color, "main");
                margin-top: 20px;
                margin-left: 30px;
            }
            .img-sect-main{
                width: 300px !important;
                height: 240px !important;
                margin-top: 40px;  
            }
        }
        .article{
       background: map-get($gradientes, "gradiente-article");
       text-align: center;
       margin-top: 10px;
       margin-bottom: 10px;
            .img-art{
                width: 300px !important;
                height: 229px !important;
             margin-bottom: 10px;}
           }
    }
}



